body {
    padding-top: 50px;
    font-size: medium;
    font-family: "Roboto Thin", sans-serif;
    font-weight: 100;
}

h3 {
    font-family: "Roboto Thin", sans-serif;
    font-weight: 100;
}

a {
    color: #426685;
}

.navbar-default {
    background-color: #455a64;
    border-color: #426685;
}
.navbar-default .navbar-brand {
    color: #d6d6d6;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #ffffff;
}
.navbar-default .navbar-text {
    color: #d6d6d6;
}
.navbar-default .navbar-nav > li > a {
    color: #d6d6d6;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: #455a64;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    color: #d6d6d6;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #ffffff;
    background-color: #426685;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
    background-color: #426685;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #426685;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #426685;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #426685;
}
.navbar-default .navbar-toggle {
    border-color: #426685;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #426685;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #d6d6d6;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #d6d6d6;
}
.navbar-default .navbar-link {
    color: #d6d6d6;
}
.navbar-default .navbar-link:hover {
    color: #ffffff;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #d6d6d6;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff;
        background-color: #426685;
    }
}